<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--title-->
	<title>intX, jsc#My Photo and Status Page</title>

	<!--favicon icon-->
	<link rel="icon" href="/img/favicon.png" type="image/png" sizes="16x16">

	<!-- font-awesome css -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<!--themify icon-->
	<link rel="stylesheet" href="/css/themify-icons.css">

	<!-- magnific popup css-->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!--owl carousel -->
	<link href="/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="/css/owl.carousel.min.css" rel="stylesheet">

	<style>
		/* CSS style for comment items */
		.comment-item {
			display: block;
			margin-bottom: 10px;
		}

		/* Add other CSS styles here */
	</style>

	<!-- bootstrap core css -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- custom css -->
	<link href="/css/style.css" rel="stylesheet">

	<!-- responsive css -->
	<link href="/css/responsive.css" rel="stylesheet">

	<script src="/js/vendor/modernizr-2.8.1.min.js"></script>

	<!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="js/vendor/html5shim.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>


<body>

	<!-- Preloader -->
	<div id="preloader">
		<div id="loader"></div>
	</div>
	<!--end preloader-->

	<div id="main" class="main-content-wraper">
		<div class="main-content-inner">

			<!--start header section-->
			<header class="header">
				<!--start navbar-->
				<div class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="row">
							<div class="navbar-header page-scroll">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
									data-target="#myNavbar">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand page-scroll" th:href="@{/}">
									<img th:src="@{/img/logo-mau-trang.png}" alt="logo"
										style="width: 120px; height: auto;">
								</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="navbar-collapse collapse" id="myNavbar">
								<ul class="nav navbar-nav navbar-right">
									<li class="active"><a class="page-scroll" th:href="@{/}">Home</a></li>
									<li><a class="page-scroll" th:href="@{/#features}">Features</a></li>
									<li><a class="page-scroll" th:href="@{/}">Pricing</a></li>
									<li><a class="page-scroll" th:href="@{/}">Faq</a></li>
									<li><a class="page-scroll" th:href="@{/}">News</a></li>
									<li><a class="page-scroll" th:href="@{/}">Contact</a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
				<!--end navbar-->
			</header>
			<!--end header section-->

			<!--start breadcrumb section-->
			<section class="breadcrumb-section"
				style="background: url('img/download-bg.jpg')no-repeat center center fixed">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="text-center breadcrumb-content">
								<h2>Create a new post</h2>
								<ul class="breadcrumb">
									<li><a th:href="@{/}">Home</a></li>
									<li>Blog Details</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--end breadcrumb section-->

			<!--start blog single section-->
			<section class="blog-details-area bg-secondary ptb-60">
				<div class="blog-details-area-wrap">
					<div class="container">
						<div class="card">
							<!--<div class="mb-1">
								<label for="author" class="form-label">Who are you?</label>
								<input class="form-control" type="text" id="author">
							</div>
							<div class="mb-3">
								<label for="title" class="form-label">Title</label>
								<input class="form-control" type="text" id="title">
							</div>
							<div class="mb-3">
								<label for="shortDes" class="form-label">Short Description</label>
								<textarea class="form-control" id="shortDes" rows="3"></textarea>
							</div>
							<div class="mb-3">
								<label for="status" class="form-label">Say Something</label>
								<textarea class="form-control" id="status" rows="3"></textarea>
							</div>
							<div class="mb-3">
								<label for="image" class="form-label">Upload Image</label><br>
								<input type="file" class="form-control" id="image">
							</div>
							<button class="btn btn-danger" style="background-color: blueviolet;"
								onclick="addPost()">Post</button>-->

							<form id="form">
								<div class="mb-1">
									<label for="author" class="form-label">Who are you?</label>
									<input class="form-control" type="text" id="author">
								</div>
								<div class="mb-3">
									<label for="title" class="form-label">Title</label>
									<input class="form-control" type="text" id="title">
								</div>
								<div class="mb-3">
									<label for="shortDes" class="form-label">Short Description</label>
									<textarea class="form-control" id="shortDes" rows="3"></textarea>
								</div>
								<div class="mb-3">
									<label for="status" class="form-label">Say Something</label>
									<textarea class="form-control" id="status" rows="3"></textarea>
								</div>
								<div class="mb-3">
									<label for="image" class="form-label">Upload Image</label><br>
									<input type="file" class="form-control" id="image">
								</div>

								<button type="submit" class="btn btn-danger"
									style="background-color: blueviolet;">Post</button>
							</form>
						</div>

						<div id="posts-container" class="mt-4">
							<!-- Posts will be added here dynamically -->
						</div>
					</div>
					<script>
						async function addPost() {
							// Get the input values
							const formData = new FormData();
							var fileInput = document.getElementById('image');
							var authorInput = document.getElementById("author");
							var titleInput = document.getElementById("title");
							var shortDesInput = document.getElementById("shortDes");
							var statusInput = document.getElementById("status");
							let d = Date();

							const data = {
								author: authorInput.value,
								title: titleInput.value,
								short_detail: shortDesInput.value,
								detail: statusInput.value,
								timestamp: d // Thêm trường thời gian thực vào đối tượng JSON
							};
							formData.append("file", fileInput);
							formData.append("data", JSON.stringify(data));
							for (const value of formData.values()) {
								console.log(value);
							}
							axios.post('/post-blog-img', formData)
								.then(function (response) {
									// Xử lý phản hồi từ máy chủ
									console.log(response.data);
								})
								.catch(function (error) {
									// Xử lý lỗi nếu có
									console.error(error);
								});
						}
					</script>
			</section>
			<!--end blog single section-->

			<!--start footer section-->
			<footer class="footer-section ptb-60">
				<div class="footer-wrap">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<div class="footer-single-col text-center">
									<img th:src="@{/img/logo-mau-tim-than.png}" alt="footer logo">
									<div class="footer-social-list">
										<ul class="list-inline">
											<li><a href="https://www.facebook.com/intXVietNam"> <i
														class="fa fa-facebook"></i></a></li>
											<li><a href="#"> <i class="fa fa-twitter"></i></a></li>
											<li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"> <i class="fa fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!--end footer section-->

		</div><!--end main content inner-->
	</div>
	<!--end main container -->


	<!--=========== all js file link ==============-->

	<!-- main jQuery -->
	<script src="/js/jquery-3.3.1.min.js"></script>

	<!-- bootstrap core js -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- smothscroll -->
	<script src="/js/jquery.easeScroll.min.js"></script>

	<!--owl carousel-->
	<script src="/js/owl.carousel.min.js"></script>

	<!-- scrolling nav -->
	<script src="/js/jquery.easing.min.js"></script>

	<!--fullscreen background video js-->
	<script src="/js/jquery.mb.ytplayer.min.js"></script>

	<!--typed js -->
	<script src="/static/js/typed.min.js"></script>

	<!--magnific popup js-->
	<script src="/js/magnific-popup.min.js"></script>

	<!-- custom script -->
	<script src="/js/scripts.js"></script>
	<script src="/js/vendor/login.js"></script>

</body>

</html>